:host(){
    --success-color: #00B976;
    --error-color: #DD403A;
    --primary-color: #027998;
}
.page-wrap{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('./../assets/Images/Classroom+Window.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.page-wrap:after{ 
    content: '';   
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: 0.5;
}

.content{
    position: relative;
    height: 100%;
    z-index: 99;
}
