<div class="success-wrapper">
    <div class="popup-wrap">
        <div class="popup-content">
            <div class="title-wrap">
                <p>Congratulations</p>
            </div>
            <div class="banner-wrap">
                <div class="img-left-wrap"></div>
                <div class="img-center-wrap"></div>
                <div class="img-right-wrap"></div>
            </div>
            <div class="msg-wrap">
                <p>You did a great job! Press the exit button to leave.</p>
            </div>
        </div>
    </div>
    <div class="confirm-btn-wrap">
        <button class="confirm-btn" (click)="exit.emit()">Exit</button>
    </div>
</div>