<div class="maze-wrapper">
    <div class="row" *ngFor="let row of mazeGrid; let i = index">
        <div 
            class="tile" 
            *ngFor="let tile of row; let j = index"
            [ngStyle]="{
                'border-left-color': tile.boundaries.left ? 'black': 'white',
                'border-right-color': tile.boundaries.right ? 'black': 'white',
                'border-top-color': tile.boundaries.up ? 'black': 'white',
                'border-bottom-color': tile.boundaries.down ? 'black': 'white'
            }"
        >
            <div class="question-icon-wrap" *ngIf="tile.puzzle" [class.complete]="tile?.puzzle?.isComplete">
                <app-svg-icon [name]="'block-question-duotone'"
            ></app-svg-icon>
            </div>
        </div>
    </div>
    <div class="user-icon" [ngStyle]="{
        'top': 'calc('+ ((userPosition?.[0] ?? 0)/10)*100 + '%)',
        'left': 'calc('+ ((userPosition?.[1] ?? 0)/10)*100 + '%)'
    }">
        <app-svg-icon [name]="'person-running-duotone'"></app-svg-icon>
    </div>
    <div class="finish-flag" [ngStyle]="{
        'top': 'calc('+ ((finish?.[0] ?? 0)/10) + '*100%)',
        'left': 'calc('+ ((finish?.[1] ?? 0)/10) + '*100%)'
    }">
        <app-svg-icon [name]="'flag_duotone'"></app-svg-icon>
    </div>
</div>